<div class="container">
	<div id="userSettings" style="position:relative;max-width:450px;margin: 0 auto;">
		<table class="table">
  			<thead>
  				<th>
  					Account
  				</th>
  				<th></th>
  			</thead>
  			<tbody>
  				<tr>
  					<td>UserName</td>
  					<td>MohammedKamil</td>
  				</tr>
  				<tr>
  					<td>EmailAddress</td>
  					<td>a.md.kamil@gmail.com</td>
  				</tr>
  				<tr>
  					<td>Password</td>
  					<td><a href="#">Change Password</a></td>
  				</tr>
  			</tbody>
		</table>
	</div>
</div>